div.mno {
  //  margin-bottom: 20%;
  
  .top-element {
    text-align: center;
    margin: 0%;

    .p-icon {
      width: 100px;
      margin-top: 30px;
    }
  }

  div>p{
    margin-left:10%;
  }

  .p-mno-grey{
      content: url("../images/grey_contact.png");
  }

  .p-mno-blue{
      content: url("../images/blue_contact.png");
  }


}