
/*
	SnapShots scss
*/

#snapshot {

	ul,p {
		margin: 0px;
		padding: 0px;
	}

	li {
		list-style: none;
	}

	#personnalDetail {
		text-align: center;
		padding-top: 20px;
		.profile-pic {
			width: 150px;
			margin: 0 auto;
		}

		.name {
			font-size: 32px;
			color: #000000;
		}

		.age {
			font-size: 24px;
			color: #606060;
		}
	}

	#gdDetails, #visionDetails, #hearingDetails, #dentalDetails, #overAllImpressionDetails {
		border: 1px solid #dbdbdb;
		width: 320px;
		margin: 10px auto;
		border-radius: 10px;

		header {
			margin: 5px 25px;
			border-bottom: 1px solid #d3d3d3;

				img {
					width: 35px;
					float: left;
					margin-right: 15px;
					margin-top: 10px;
				}
		}

		.title {
			font-size: 25px;
			letter-spacing: -2.2px;
			color: #3b86dd;
			text-align: left;
			line-height: 26px;
		}

		.sub-title {
			font-size: 20px;
			letter-spacing: -1.4px;
			text-align: left;
			color: #3b86dd;
			padding-bottom: 8px;
		}

		.secondary-title {
			font-size: 22px;
			text-align: left;
			color: #3b86dd;
			padding-bottom: 8px;
		}
	}

	.dot-cls {
		font-size: 20px;
		font-weight: bold;
	}

	.content-cls {
		margin: 5px 25px;

		li {
			font-size: 16px;
			padding: 5px;
			height: 38px;
		}

		.text-left {
			width: 50%;
			float: left;
			text-align: left;
			color: #3C3B3B;
		}

		.colon-cls {
			float: left;
		}

		.text-right {
			text-align: left;
			color: #817F7F;
			padding-left: 45px;
			width: 30%;
			float: left;
			text-transform: capitalize;
		}
	}

	.hearing-cnt-cls {
		margin: 5px 25px;

		li {
			font-size: 16px;
			padding: 5px;
		}

		.colon-cls {
			float: left;
		}

		.text-left {
			width: 78%;
			float: left;
			text-align: left;
			color: #3C3B3B;
		}

		.text-right {
			text-align: left;
			color: #817F7F;
			padding-left: 10px;
			float: left;
			text-transform: capitalize;
		}

		.no-cls {
			color: green;
			text-transform: capitalize;
		}

		.yes-cls {
			color: red;
			text-transform: capitalize;
		}
	}

	#visual-grid {

		margin: 5px 20px;

		th {
			text-align: left;
			padding: 4px;
			font-size: 16px;
			font-weight: normal;
		}

		td {
			text-align: center;
			padding: 0px;
			font-size: 16px;
			font-weight: normal;
		}

		.vi-value {
			color: #3b86dd;
		}
	}

	#dentalDetails {
		text-align: center;
	}

}