<kendo-mobile-view id="intro-dashboard" ng-controller="dashboardController">
        
    @@include('../../site/partials/mainHeader.html')

    <kendo-web-content>

        <div class="profile-grid2 profile-grid3">
            <div ng-hide="bmiData.bmi" class="default-noti"><span> You do not have any BMI record, please update your height and weight to get your BMI.</span></div>
            <div class="card" ng-class="bmiData.bmi.category.type == 'normal'? 'color-normal' : bmiData.bmi.category.type == 'low'? 'color-low' : 'color-high'" ng-show="bmiData.bmi">
                <div class="card-name">Body Mass Index
                    <img src="images/info-icon.png" class="info-icon" ng-click="showInfo($event)">
                </div>
                <div class="card-content">
                    <div class="card-value-container">
                        <span>BMI</span>
                        <div class="card-value">{{bmiData.bmi.value.toFixed(1)}}</div>
                    </div>
                    <div class="card-data">
                        <div class="card-data-row">
                            <div class="card-data-item">Age</div>
                            <div class="card-data-item-value">: 
                                <span ng-show="bmiData.age.year">{{bmiData.age.year}} y</span>
                                <span ng-hide="bmiData.age.year">{{bmiData.age.month}} m</span>
                            </div>
                        </div>
                        <div class="card-data-row">
                            <div class="card-data-item">Height</div>
                            <div class="card-data-item-value">: {{bmiData.height.value}}</div>
                        </div>
                        <div class="card-data-row">
                            <div class="card-data-item">Weight</div>
                            <div class="card-data-item-value">: {{bmiData.weight.value.toFixed(0)}} kg</div>
                        </div>
                    </div>
                </div>
                <div class="card-category">{{bmiData.bmi.category.name}}</div>

                <div class="card-info" ng-show="isShowInfo1">
                    <img src="images/cross-black.png" class="cross-icon" ng-click="hideInfo($event)">

                    <p>Height : {{bmiData.height.value}} <span ng-show="bmiData.height.measurementDate">(Measured on {{bmiData.height.measurementDate | date : 'd-MMM-yyyy'}})</span>
                    </p>
                    <p>Weight : {{bmiData.weight.value}} kg <span ng-show="bmiData.weight.measurementDate">(Measured on {{bmiData.weight.measurementDate | date : 'd-MMM-yyyy'}})</span>
                    </p>
                </div>
            </div>
        </div>

    </kendo-web-content>

</kendo-mobile-view>