.pageHeader {
  text-align: left;
  padding: 10px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.8px;
  color: #4e94e3; }

#alleryList {
  width: 100%;
  padding: 0;
  margin: 0; }
  #alleryList .lists {
    float: left;
    height: 12vh;
    border-bottom: 1px solid #c8c7cc;
    width: 100%;
    text-align: right;
    list-style-type: disc;
    list-style: none; }
    #alleryList .lists .measureCls {
      width: 90%;
      float: left;
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: -0.9px;
      color: #4c4c4c;
      padding: 4vh 4vh;
      text-align: left; }
    #alleryList .lists .listsArrow {
      width: 10%;
      float: left;
      padding: 4vh 2vh; }

#allergiesConditions .list-group-item {
  height: 10vh; }

#allergiesConditions .list-group {
  padding-left: 0;
  margin-bottom: 20px; }

#allergiesConditions .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd; }

#allergiesConditions .bulletTxt {
  float: left; }

#allergiesConditions .testTypeDisclose {
  margin-top: 2%;
  width: 3%;
  float: right;
  vertical-align: middle; }

#allergiesConditions .testType {
  margin: 0 5% 0 20%; }

#allergiesConditions .testTypeFull {
  margin: 0 5% 0 5%; }

#allergiesConditions .testTypeText {
  color: #AAAFB4; }

#allergiesConditions .allergiesInfo {
  float: left;
  width: 15%;
  padding-left: 5%;
  padding: 2vh; }
  #allergiesConditions .allergiesInfo .orangeIndicator {
    float: left;
    margin-left: 5%;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #3b86dd; }

#allergiesConditions .allergiesName {
  width: 75%;
  float: left; }
  #allergiesConditions .allergiesName .allergiesText {
    font-weight: bold;
    float: left; }
  #allergiesConditions .allergiesName p {
    margin: 2px 0 0 0 !important;
    float: left;
    font-size: 12px; }

#allergiesConditions .allergiesDisclose {
  width: 10%;
  float: left;
  text-align: right;
  padding: 1vh; }
  #allergiesConditions .allergiesDisclose img {
    width: 2vh; }

#allergyView .allergiCausedByName {
  float: left;
  width: 90%;
  margin-left: 5%; }

#allergyView .allergyCls {
  height: 10vh;
  text-align: center;
  padding: 2vh 4vh;
  background-color: #ccc;
  color: #fff; }

#allergyView .allergiGo {
  text-align: right; }

#allergyDetails .list-group-item {
  height: 100%; }

#allergyDetails .allergiCausedByName {
  float: left;
  width: 90%;
  margin-left: 5%; }

#allergyDetails .allergiGo {
  text-align: right; }

#allergyDetails input[type=checkbox] {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #aaa;
  border-radius: 4px; }

#allergyAdd #treatmentCls, #allergyAdd #testCls {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid 1px #c0c0c0;
  overflow: hidden;
  text-align: left; }

#allergyAdd .detailMeasuredDate {
  padding: 3% 2%;
  width: 100%;
  text-align: left;
  display: table;
  margin-top: 2vh; }
  #allergyAdd .detailMeasuredDate .calenderImg {
    margin-top: 28px;
    /*height: 10vh;
			padding: 2vh;
			margin: auto;
			width: 30%;
			float: left;*/ }
  #allergyAdd .detailMeasuredDate .dateType {
    /*height: 5vh;
			padding: 2vh 2vh;
			text-align: right;
			width: 10%;
			float: left;*/
    text-align: right; }
  #allergyAdd .detailMeasuredDate .displayDate {
    position: relative;
    /*float: left;
			height: 5vh;
			width: 60%;
			padding: 2vh 2vh;
			text-align: right;*/ }
    #allergyAdd .detailMeasuredDate .displayDate span {
      position: absolute;
      top: 2px;
      left: 30px; }
    #allergyAdd .detailMeasuredDate .displayDate input[type=date] {
      /*width: 80%;*/
      width: 100%;
      -webkit-appearance: none; }
  #allergyAdd .detailMeasuredDate .info-arrow {
    width: 2vh;
    position: absolute;
    right: 15px;
    top: 15px; }
  #allergyAdd .detailMeasuredDate .edit-icon {
    width: 3vh;
    position: absolute;
    right: 15px;
    top: 10px; }
  #allergyAdd .detailMeasuredDate .detailMeasuredDate {
    height: 8vh;
    padding: 2vh;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    color: #7b7b7b; }

#allergyAdd .medicalNotes {
  padding: 3% 2%;
  width: 100%;
  text-align: left;
  display: table;
  border-top: 1px solid #f5f5f5;
  margin-top: 1vh; }
  #allergyAdd .medicalNotes div {
    display: table-cell; }
  #allergyAdd .medicalNotes .info-arrow {
    width: 2vh;
    position: absolute;
    right: 15px;
    top: 15px; }
  #allergyAdd .medicalNotes .edit-icon {
    width: 3vh;
    position: absolute;
    right: 15px;
    top: 10px; }

#allergyAdd textarea {
  width: 100%;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid 1px #c0c0c0;
  resize: none;
  padding: 5vh; }

#allergyAdd .btnCls {
  float: right;
  color: #4e94e3;
  border: 0;
  background: #fff; }

#allergyAdd .treatmentTest, #allergyAdd .testConduct {
  padding: 4vh; }

.testTypeDisclose {
  margin-top: 2%;
  width: 3%;
  float: right;
  vertical-align: middle; }

.detailMeasuredDate .calenderDetail {
  /*float: left;
		width: 65%;*/
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .detailMeasuredDate .calenderDetail li {
    width: 100%;
    height: 48px;
    line-height: 40px;
    text-align: center; }

.detailMeasuredDate .fromDateDetail {
  border-bottom: 1px solid #f5f5f5; }

#userAllergyList .default-noti {
  position: absolute;
  top: 40%;
  font-size: 20px;
  text-align: center;
  color: #4C91E0;
  padding: 6px;
  line-height: 1.2em;
  margin: 0 auto;
  width: 100%; }
