#personalEdit {
  /*overflow: scroll;*/ }
  #personalEdit .contentHeader {
    text-align: center; }
  #personalEdit .avatarImg {
    width: 125px;
    height: 125px;
    margin: 5% auto;
    border-radius: 50%; }
  #personalEdit .profileNameText {
    font-size: 15px;
    letter-spacing: 0px;
    color: #6d6d6d;
    text-align: center;
    padding: 0 0 5% 0;
    border-bottom: 1px solid #ccc;
    margin-right: 0px;
    margin-left: 0px; }
  #personalEdit .subhead {
    background-color: #7A7A7A !important;
    color: #ffffff; }
  #personalEdit .personalListItem {
    min-height: 50px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 35px; }
    #personalEdit .personalListItem .data {
      padding-left: 0; }
    #personalEdit .personalListItem .left {
      color: #ccc; }
    #personalEdit .personalListItem .right {
      text-align: right; }
    #personalEdit .personalListItem .addr {
      margin: 0 12% 0 30%; }
