/*
	SnapShots scss
*/
#snapshot ul, #snapshot p {
  margin: 0px;
  padding: 0px; }

#snapshot li {
  list-style: none; }

#snapshot #personnalDetail {
  text-align: center;
  padding-top: 20px; }
  #snapshot #personnalDetail .profile-pic {
    width: 150px;
    margin: 0 auto; }
  #snapshot #personnalDetail .name {
    font-size: 32px;
    color: #000000; }
  #snapshot #personnalDetail .age {
    font-size: 24px;
    color: #606060; }

#snapshot #gdDetails, #snapshot #visionDetails, #snapshot #hearingDetails, #snapshot #dentalDetails, #snapshot #overAllImpressionDetails {
  border: 1px solid #dbdbdb;
  width: 320px;
  margin: 10px auto;
  border-radius: 10px; }
  #snapshot #gdDetails header, #snapshot #visionDetails header, #snapshot #hearingDetails header, #snapshot #dentalDetails header, #snapshot #overAllImpressionDetails header {
    margin: 5px 25px;
    border-bottom: 1px solid #d3d3d3; }
    #snapshot #gdDetails header img, #snapshot #visionDetails header img, #snapshot #hearingDetails header img, #snapshot #dentalDetails header img, #snapshot #overAllImpressionDetails header img {
      width: 35px;
      float: left;
      margin-right: 15px;
      margin-top: 10px; }
  #snapshot #gdDetails .title, #snapshot #visionDetails .title, #snapshot #hearingDetails .title, #snapshot #dentalDetails .title, #snapshot #overAllImpressionDetails .title {
    font-size: 25px;
    letter-spacing: -2.2px;
    color: #3b86dd;
    text-align: left;
    line-height: 26px; }
  #snapshot #gdDetails .sub-title, #snapshot #visionDetails .sub-title, #snapshot #hearingDetails .sub-title, #snapshot #dentalDetails .sub-title, #snapshot #overAllImpressionDetails .sub-title {
    font-size: 20px;
    letter-spacing: -1.4px;
    text-align: left;
    color: #3b86dd;
    padding-bottom: 8px; }
  #snapshot #gdDetails .secondary-title, #snapshot #visionDetails .secondary-title, #snapshot #hearingDetails .secondary-title, #snapshot #dentalDetails .secondary-title, #snapshot #overAllImpressionDetails .secondary-title {
    font-size: 22px;
    text-align: left;
    color: #3b86dd;
    padding-bottom: 8px; }

#snapshot .dot-cls {
  font-size: 20px;
  font-weight: bold; }

#snapshot .content-cls {
  margin: 5px 25px; }
  #snapshot .content-cls li {
    font-size: 16px;
    padding: 5px;
    height: 38px; }
  #snapshot .content-cls .text-left {
    width: 50%;
    float: left;
    text-align: left;
    color: #3C3B3B; }
  #snapshot .content-cls .colon-cls {
    float: left; }
  #snapshot .content-cls .text-right {
    text-align: left;
    color: #817F7F;
    padding-left: 45px;
    width: 30%;
    float: left;
    text-transform: capitalize; }

#snapshot .hearing-cnt-cls {
  margin: 5px 25px; }
  #snapshot .hearing-cnt-cls li {
    font-size: 16px;
    padding: 5px; }
  #snapshot .hearing-cnt-cls .colon-cls {
    float: left; }
  #snapshot .hearing-cnt-cls .text-left {
    width: 78%;
    float: left;
    text-align: left;
    color: #3C3B3B; }
  #snapshot .hearing-cnt-cls .text-right {
    text-align: left;
    color: #817F7F;
    padding-left: 10px;
    float: left;
    text-transform: capitalize; }
  #snapshot .hearing-cnt-cls .no-cls {
    color: green;
    text-transform: capitalize; }
  #snapshot .hearing-cnt-cls .yes-cls {
    color: red;
    text-transform: capitalize; }

#snapshot #visual-grid {
  margin: 5px 20px; }
  #snapshot #visual-grid th {
    text-align: left;
    padding: 4px;
    font-size: 16px;
    font-weight: normal; }
  #snapshot #visual-grid td {
    text-align: center;
    padding: 0px;
    font-size: 16px;
    font-weight: normal; }
  #snapshot #visual-grid .vi-value {
    color: #3b86dd; }

#snapshot #dentalDetails {
  text-align: center; }
