<section ng-controller="healthInsuranceDetailController">
    <kendo-mobile-view id="insurnceDetailedView">
        @@include('../../site/partials/mainHeader.html')
        

        <kendo-web-content class="km-insetcontent"> 
        <div class="datalist profile-grid2 profile-grid3">

            <kendo-mobile-nav-bar class="km-accent sw-header">                
                <kendo-view-title> {{ headerText }}  </kendo-view-title>
            </kendo-mobile-nav-bar>    

        <div class="detailSubHeader">
            <div class="deleteCls" data-toggle="modal" data-target="#deleteModal" > 
                <img src="images/delete-icon@2x.png" width="9%" >                
            </div>         
            <div class="editCls" ng-click="editInsuranceInfo()">
                <img src="images/edit-icon@2x.png" width="9%">
            </div>  
            <div style="clear:both"></div>
        </div>      
        <div class="insurance-detail-wrapper">
            <div class="detail-view-div">
                <div class="form-text" >Member Name</div>
                <div class=""> 
                    <div ng-show="insuranceDetails.insuranceHolderName != 'Others'"class="form-input-text" >{{insuranceDetails.insuranceHolderName}}</div>
                    <div ng-hide="insuranceDetails.insuranceHolderName != 'Others'"class="form-input-text" >{{insuranceDetails.insuranceHolderOthersName}}</div>
                </div>
            </div>            
            <div class="detail-view-div">
                <div class="form-text">Insurance provider</div>
                <div class=""> 
                    <div class="form-input-text">{{insuranceDetails.insuranceProvider}}</div>
                </div>
            </div>
            
            <div class="detail-view-div">
                <div class="form-text">Member ID</div>
                <div class=""> 
                    <div class="form-input-text" >{{insuranceDetails.memberID}}</div>
                </div>
            </div>
            
            <div class="detail-view-div">
                <div class="form-text">Policy number</div>
                <div class="" ng-show="insuranceDetails.policyNumber"> 
                    <div class="form-input-text" >{{insuranceDetails.policyNumber}}</div>
                </div>
            </div>
            
            <div class="detail-view-div">
                <div class="form-text">Plan/Policy name</div>
                <div class="" ng-show="insuranceDetails.policyName"> 
                    <div class="form-input-text" >{{insuranceDetails.policyName}}</div>
                </div>
            </div>
            
            <div class="detail-view-div">            
                <div class="form-text">Policy type</div>
                <div class="" ng-show="insuranceDetails.policyType"> 
                    <div class="form-input-text">{{insuranceDetails.policyType}}</div>
                </div>
            </div>
            
            <div class="detail-view-div">
                <div class="form-text" >Policy details</div> 
                <div class="word-wrap"> 
                    <div class="form-input-text">{{insuranceDetails.policyDetails}}</div>            
                </div>
            </div>
            
            <div class="detail-view-div">
                <div class="form-text">Policy term</div>
                <div class=""> 
                    <div class="form-input-text" >
                        <span ng-show="insuranceDetails.policyTerm != '0' && insuranceDetails.policyTerm">{{insuranceDetails.policyTerm}}</span>&nbsp;&nbsp;
                        <span ng-show="insuranceDetails.policyTermType != '0' && insuranceDetails.policyTermType">{{insuranceDetails.policyTermType}}<span>
                    </div>
                </div>                
            </div>
            
            <div class="detail-view-div">
                <div class="form-text">Policy expiry date</div>            
                <div class=""> 
                    <div class="form-input-text" >
                        {{insuranceDetails.expiryDate | formatDate | date : 'd MMM yyyy'}}
                    </div>
                </div>
            </div> 
            
            <div class="detail-view-div">           
                <div class="form-text">Insured amount</div>
                <div class=""> 
                    <div class="form-input-text" ng-show="insuranceDetails.insuredAmount">{{insuranceDetails.insuredAmount}}</div>
                </div>
            </div> 
             
            <div class="detail-view-div"> 
                <div class="form-text">Premium payment amount</div>
                <div class=""> 
                    <div class="form-input-text" ng-show="insuranceDetails.premiumPaymentAmount" >{{insuranceDetails.premiumPaymentAmount}}</div>
                </div>
            </div>
               
            <div class="detail-view-div">
                <div class="form-text">Next payment payment date</div>
                <div class=""> 
                    <div class="form-input-text" ng-show="insuranceDetails.premiumPaymentDate" >
                        {{insuranceDetails.premiumPaymentDate | formatDate | date : 'd MMM yyyy'}}
                    </div>
                </div>  
            </div>
            
            <div class="detail-view-div"> 
                <div class="form-text">Insurance provider contact number</div>
                <div class=""> 
                    <div class="form-input-text" ng-show="insuranceDetails.providerContactNumber">{{insuranceDetails.providerContactNumber}}</div>
                </div>
            </div>
        </div>
        </div>                        
        </kendo-web-content>        
    </kendo-mobile-view >
    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to <b>Delete</b> this insurance entry?</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6" data-dismiss="modal"> No </div>
                        <div class="col-xs-6" data-dismiss="modal" ng-click="deleteInsuranceInfo()"> Yes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>