<section ng-controller="healthInsuranceController" >
    <kendo-mobile-view id = "insuranceSection">
        @@include('../../site/partials/mainHeader.html')
        
        <!-- ng-init="getInsuranceMetaData()" -->
        
        <kendo-web-content>
        <div touch-scroll class = "insurance-wrapper datalist profile-grid2 profile-grid3" ng-form name="insuranceForm">

            <!-- Insurance header start -->
            <kendo-mobile-nav-bar class="km-accent sw-header">                
                <kendo-view-title> {{ headerText }}  </kendo-view-title>
                <Kendo-mobile-button class="btn-next" k-align="'right'"  ng-disabled="insuranceForm.$invalid"
                ng-click="!insuranceForm.$invalid && saveInsuranceDetail()">Save</Kendo-mobile-button>
            </kendo-mobile-nav-bar>

            <!-- Insurance header ends -->

            <!-- Insurance fields start -->
            <div class="insurance-content">
                <div>
                    <div class="form-text" ><span class="form-text-required">*</span>Member Name</div>
                    <div class="styled-select"> 
                            <select class="form-input" required ng-model="insuranceDetails.insuranceHolderName" ng-options="member.user.firstName as member.user.firstName for member in members"></select>

                    </div>
                </div>
                <div ng-show="insuranceDetails.insuranceHolderName=='Others'">
                    <div class=""> 
                            <input type="text" ng-required="insuranceDetails.insuranceHolderName=='Others'"  ng-model="insuranceDetails.insuranceHolderOthersName" placeholder="Please enter others name here" class="form-input"/>
                    </div>
                </div>
                <div>
                    <div class="form-text"><span class="form-text-required">*</span>Insurance provider</div>
                    <div class="styled-select"> 
                            <select class="form-input" required ng-model="insuranceDetails.insuranceProvider" ng-options="insuranceProvider.name as insuranceProvider.name for insuranceProvider in insuranceProviders"></select>                        
                    </div>
                </div>
                <div>
                    <div class="form-text"><span class="form-text-required">*</span>Member ID</div>
                    <div class=""> 
                            <input type="text" required ng-model="insuranceDetails.memberID" class="form-input" >
                    </div>
                </div>
                <div>
                    <div class="form-text">Policy number</div>
                    <div class=""> 
                            <input type="text" ng-model="insuranceDetails.policyNumber" class="form-input" >
                    </div>
                </div>
                <div>
                    <div class="form-text">Plan/Policy name</div>
                    <div class=""> 
                        <input type="text" ng-model="insuranceDetails.policyName" class="form-input" >
                    </div>
                </div>
                <div>            
                    <div class="form-text">Policy type</div>
                    <div class="styled-select"> 
                        <select class="form-input" ng-model="insuranceDetails.policyType" ng-options="policyType as policyType for policyType in policyTypes" > </select>
                    </div>
                </div>
                <div>
                    <div class="form-text" >Policy details</div> 
                    <div class=""> 
                           <textarea ng-model="insuranceDetails.policyDetails" class="form-input-textarea"></textarea>            
                    </div>
                </div>
                <div>
                    <div class="form-text">Policy term</div>
                    <div style="display:table; width: 100%; padding: 1% 0 0 3%;">
                        <div class="" style="display:table-cell; width:50%"> 
                            <input type="number" style="width: 70%;" ng-model="insuranceDetails.policyTerm" class="form-input" >
                        </div>         
                        <div class="styled-select-1" style="display:table-cell">
                            <select  style="width: 70%;" class="form-input" ng-model="insuranceDetails.policyTermType" ng-options="policyTerm as policyTerm for policyTerm in policyTerms"> </select>
                        </div>  
                        <div style="clear:both"> </div>
                    </div>
                </div>
                <div>
                    <div class="form-text"><span class="form-text-required">*</span>Policy expiry date</div>          
                    
                <ng-datepicker style="display: inline-block; position:static" class="form-input form-input-date" ng-model="insuranceDetails.expiryDate">
                </ng-datepicker>
                <span style="color: black;
                    position: relative;
                    top: -56px;
                    left: 40px;
                    font-size: 18px;padding: 0;" ng-show="insuranceDetails.expiryDate" >{{insuranceDetails.expiryDate | formatDate | date : 'd MMM yyyy'}}
                </span>
       
                </div> 
                <div>           
                    <div class="form-text" >Insured amount</div>
                    <div class=""> 
                        <input type="number" ng-model='insuranceDetails.insuredAmount' step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-input" >
                    </div>
                </div>  
                <div> 
                    <div class="form-text">Premium payment amount</div>
                    <div class=""> 
                        <input type="number" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model='insuranceDetails.premiumPaymentAmount' class="form-input" >
                    </div>
                </div>   
                <div>
                    <div class="form-text">Next premium payment date</div>
                    
                        <ng-datepicker style="display: inline-block; position:static" class="form-input form-input-date" ng-model="insuranceDetails.premiumPaymentDate">
                        </ng-datepicker>
                        <span style="color: black;
                            position: relative;
                            top: -56px;
                            left: 40px;
                            font-size: 18px;padding: 0;" ng-show="insuranceDetails.premiumPaymentDate" >{{insuranceDetails.premiumPaymentDate | formatDate | date : 'd MMM yyyy'}}
                        </span>
                                 
                </div>
                <div> 
                    <div class="form-text">Insurance provider contact number</div>
                    <div class=""> 
                        <input type="tel" ng-pattern="[0-9]*" class="form-input" ng-model='insuranceDetails.providerContactNumber'>
                    </div>
                </div>
            </div>
        </div>         


            <!-- Insurance fields ends -->


        
        </div> 
              <kendo-web-content>
    </kendo-mobile-view >   
</section>