<kendo-web-view id="recommandationList" ng-controller="recommendationController">

    <kendo-web-content >
		<ul touch-scroll class="datalist profile-grid2 profile-grid3" ng-init="getNotification()">
			<li ng-repeat="notify in notificationList" class="notifyCls" ng-click="showDetails(notify)">
		<!-- value medical -->
				
				<div class="rec-img" ng-if="notify.imageUrl">
					<img ng-src="{{notify.imageUrl}}">
				</div>		

				<header class="rec-title">
					{{notify.title}}
				</header>
				<p>
					{{notify.shortDescription}}
				</p>
		<!-- arrow display end -->
			</li>
			<li ng-hide="notificationList.length" class="default-noti">You do not have any notifications. This is the place where all your notifications appear.
			</li>
		</ul>
	</kendo-web-content>
	
</kendo-web-view>

