<kendo-mobile-view ng-controller="medicalListController">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent sw-header">
            <kendo-view-title> <!-- {{headerText}} -->  Height </kendo-view-title>
            <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="goBack()">Cancel</Kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content >
		<div id="addNotes">
            <div class="row">
                <div class="col-xs-12 noteImage">
                    <img src="images/note@3x.png" width="25%">
                </div>
            </div>
            <div class="row subHeader">
                <div class="col-xs-12">
                    <p> Note </p>
                </div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
            		<textarea class="addNotesHere" placeholder="Write note..."></textarea>
            	</div>
            </div>
		</div>
	</kendo-mobile-content>
    <kendo-mobile-footer>
        <div class="col-xs-4" ui-sref="record">
            <div class="records-icon" ></div>
                Records
        </div>
        <div class="col-xs-4" ui-sref="home">
            <div class="home-icon"></div>
                <span >Home</span>
        </div>
        <div class="col-xs-4" ui-sref="familyMember">
            <div class="family-icon"></div>
                Family
        </div>
    </kendo-mobile-footer>
</kendo-mobile-view>