<kendo-mobile-view class="login-view" ng-controller="AuthController" k-title="'Request new password'">

    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent">
            <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()"></kendo-mobile-back-button>   -->
            <kendo-view-title> Request New Password</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <div class="fpwd">
        <div class="text">Enter your email address to receive temporary code</div>
        <form name="emailForm" ng-submit="forgotPassword(emailForm)" novalidate="">
            <div class="box">
                <div>

                    <input ng-class="hasError===true?'red-alert-oval':'white-alert-oval'" type="email" ng-pattern="regexs.email" ng-model="emailId" name="emailId" class="form-input" required placeholder="yourname@domain.com" />

                </div>
            </div>
            <div ng-messages="emailForm.emailId.$error" ng-show="emailForm.$submitted" class="form-errors">
                <div class="form-error" ng-message="required">Email Required</div>
                <div class="form-error" ng-message="pattern">Invalid Email</div>
            </div>
            <div ng-show="hasError" class="form-errors">
                <div class="form-error">{{errMsg}}</div>
            </div>
            <input class="button-box" type="submit" value="Send Code" />

        </form>

    </div>

    <!-- <div class="cloud-bg" style="z-index:0;"></div> -->
</kendo-mobile-view>
