
<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view>

                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <kendo-view-title>Date of Birth</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="dobForm.$invalid" ng-click="currentUser.dateOfBirth && next()">{{headerText}}</Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>
                <div id="profile-dob" class="grid1">
                    <!--ng-submit="signin(userForm)"-->
                    <div class="dobFieldDiv" ng-form name="dobForm">
                        <img class="km-center" ng-class="currentUser.dateOfBirth ? 'dob_active' : 'dob_inactive'" />

                        <div class="dob-date">
                            <ng-datepicker ng-model="currentUser.dateOfBirth">
                            <span ng-bind="currentUser.dateOfBirth" style="display: block; margin-top: 5px;"></span>
                            </ng-datepicker>
                            <span ng-show="currentUser.dateOfBirth">{{currentUser.dateOfBirth | date : 'd-MMM-yyyy'}}</span>
                            <span ng-hide="currentUser.dateOfBirth">Date of Birth</span>
                            <div class="underline"></div>
                        </div>

                        <!-- <input type="text" ng-model="birthDate" date-options="dateOptions" custom-datepicker/> -->

                        <!-- <input type="text" name="dateOfBirth" max-date="{{maxDate}}" ng-model="user.dateOfBirth" class="form-date-underlined" autofocus required placeholder="Date of Birth" style="opacity: 0; font-size=0px; z-index:2;" date-options="dateOptions" custom-datepicker readonly>
                        <div class="dob-date">
                            <span ng-show="user.dateOfBirth">{{user.dateOfBirth | date : 'd-MMM-yyyy'}}</span>
                            <span ng-hide="user.dateOfBirth" style="opacity: 0.5;">Date of Birth</span>
                            <div class="underline"></div>
                            
                        </div> -->
                        <!-- <input id="datetimepicker" name="dateOfBirth" max="{{maxDate}}" ng-model="user.dateOfBirth" class="form-date-underlined" autofocus required> -->
                    </div>

                </div>
                <!-- <div class="cloud-bg"></div> -->

            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>