<div class="panel-body">
	<div class="row" style="text-align: center;">
		<div id="medical-intro">
		<!-- <div class="arrow-up"></div> -->
			@@include('doctor-logo.html')

			<div class="content-Text">
				<div class="firstP"> Done ! </div>
				<div class="secondP"> Personal details added successfully </div>
				<div class="line"></div>
				<div class="thirdP"> Shall we start adding medical details now ?  </div>
			</div>
			<div class="footer-button">
				<button ng-click="goToMedicalInfo()" class="btn-start"> Start </button>
				<button ng-click="showPersonalDetail()" class="btn-skip"> Skip </button>
			</div>
		</div>
	</div>
</div>