
<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view>
                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
                        <kendo-view-title>Contact</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="!mobileForm.$invalid && next()" ng-disabled="mobileForm.$invalid">{{headerText}}</Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>

                <kendo-mobile-content class="km-insetcontent">
                    <div class="mno common-input-box grid1" ng-form name="mobileForm">
                        <div class="top-element">
                            <img class="p-icon" ng-class="!mobileForm.$invalid?'p-mno-blue':'p-mno-grey'" src="images/grey_phone.png"/>
                        </div>
                        
                        <div style="position:relative">
                            <label style="position: absolute;margin: 28px 0px 0px 15px;font-weight: normal;display: block;font-size: large;">(+91)</label>
                            
                            <input class="form-input-underlined" type="number"  ng-model="currentUser.contactNumber" name="phoneNo" required  ng-focus="setPhoneNoFocused(true);" ng-blur="setPhoneNoFocused(false);" min="1" maxlength="10" ng-minlength="10" ng-maxlength="10" ng-pattern="[0-9]*"/>
                        </div>

                        <input class="form-input-underlined" type="email"  ng-model="currentUser.emailId" name="emailId" required  ng-focus="setPhoneNoFocused(true);" ng-blur="setPhoneNoFocused(false);" placeholder="email" ng-pattern="regexs.email" ng-disabled="currentUser.id"/>

                        <div ng-messages="mobileForm.phoneNo.$error" ng-show="mobileForm.phoneNo.$touched" class="form-errors">
                            <div class="form-error" ng-message="required">Mobile number is required</div>
                            <div class="form-error" ng-message="number">Should be a number</div>
                            <div class="form-error" ng-message="min">Enter valid number</div>
                            <div class="form-error" ng-message="minlength">Cannot be below 10 digits</div>
                            <div class="form-error" ng-message="maxlength">Cannot exceed 10 digits</div>
                        </div>

                        <div ng-messages="mobileForm.emailId.$error" ng-show="mobileForm.emailId.$touched" class="form-errors">
                            <div class="form-error" ng-message="required">Email is required</div>
                            <div class="form-error" ng-message="pattern">Enter valid email</div>
                        </div>
                    </div>
                </kendo-mobile-content>
            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>