<kendo-mobile-view ng-controller="ProfileController">
	

	<!-- <div class="left-arrow">
		<span> < </span>
	</div> -->

    <div ui-view></div>

    <!-- <div class="right-arrow">
		<span> > </span>
	</div> -->

</kendo-mobile-view>
